<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(#{nav.art}, stile-artista.css)"> </head>
<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
    	<h4 th:text="#{header.artisti}">List of artists</h4>
		<ul>
			<li th:each="artista : ${artisti}">
				<a href="artista.html" 
				   th:href="@{'/artista' + '/' + ${artista.id}}" 
				   th:text="|${artista.nome} ${artista.cognome}|">Paolo Rossi</a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>