<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head
	th:replace="fragments/base.html :: headerfiles(#{title.collezione}, stile-collezione.css)"></head>

<body>

	<nav th:replace="fragments/base.html :: navbar"></nav>

	<header th:replace="fragments/base.html :: header"></header>

	<section>
	<div th:text="${collezione.nome}">nome</div>
	<div>A cura di</div>
	
	<div th:text="|${curatore.nome} ${curatore.cognome}|">Nome Cognome</div>
	<div th:text="${collezione.descrizione}">Descrizione</div>
	<div>
		<h4 th:text="#{header.opere}">List of opere</h4>
		<ul>
			<li th:each="opera : ${opere}">
			<a 
			th:href="@{'/opera' + '/' + ${opera.id}}"
			 th:text="${opera.titolo}">titolo</a>
		</ul>
	</div>
	</section>

	<footer th:replace="fragments/base.html :: footer"></footer>

</body>

</html>