  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(#{nav.coll}, stile-collezioni.css)"> </head>
<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
    	<h4 th:text="#{header.collezioni}">List of collections</h4>
		<ul>
			<li th:each="collezione : ${collezioni}">
				<a href="collezione.html" 
				   th:href="@{'/collezione' + '/' + ${collezione.id}}" 
				   th:text="|${collezione.nome} ${collezione.descrizione}|">nome e descrizione collezione</a>
			</li>
		</ul>
	</div>
	<div>
	<span><a th:href=@{/addCollezione}><button type="button" th:text="#{add.coll}">invio</button></a></span>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>