<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(collezione, stile-collezione.css)"></head>
  
  <body>
  
    <nav th:replace="fragments/base.html :: navbar"></nav>

    <header th:replace="fragments/base.html :: header"></header>

    <section id="nome">
      <h2>Nome Collezione</h2>
      </section>
    
    <section id="dati">
      <div>
      <span>A cura di NomeCuratore</span>
      <h3>Le opere della Collezione</h3>
      <ul>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
        <li>"<a href="opera.html">Il giudizio universale</a>" realizzata da <a href="artista.html">Giotto</a></li>
      </ul>
      </div>
    </section>
   
    <footer th:replace="fragments/base.html :: footer"></footer>
    
  </body>

</html>