<!DOCTYPE HTML>
<html>
  <head xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Museo di Roma</title>
    <link th:href="@{/css/stile-home.css}" rel="stylesheet">
  </head>
  
  <body>

   <nav>
      <ul>
       <!-- <li><a th:href="@{/register}">REGISTRATI</a></li>  -->
      	<!--  <li><a th:href="@{/login}" th:text= "#{nav.login}">Login</a></li> -->
        <li><a th:href="@{/opere}" th:text="#{nav.opere}">Opere</a></li>
        <li><a th:href="@{/artisti}" th:text="#{nav.art}">Artisti</a></li>
        <li><a th:href="@{/collezioni}" th:text="#{nav.coll}">Collezioni</a></li>
        <li><a th:href="@{/info}" th:text="#{nav.info}">Informazioni</a></li>
      </ul>
    </nav> 

   <header>
    <h1>Museo di Roma 
    <img src="images/roma-stemma.png" alt="roma-capitale" height="53px" width="40px">
    <a th:href="@{/login}">
    <input type="image" id="image" alt="Login" src="/images/userLogin.jpg">
    </a>
    </h1>
    
   </header>
 
    <section id="dati">
      <div id="flex-container">
        <div>
           <img src="images/compianto-giotto.png" alt="img1" height="400px" width="400px">
       	</div>
        <div>
	   <img src="images/venere-botticelli.png" alt="img2" height="400px" width="400px">
 	</div>
	<div>
	  <img src="images/vergine-leonardo.png" alt="img3" height="400px" width="400px">
        </div>
      </div>
    </section>

    <footer>Copyright &copy; 2021 Museo di Roma</footer>
  </body>

</html>