<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(#{title.info}, stile-info.css)"></head>

  <body>
  
    <nav th:replace="fragments/base.html :: navbar"></nav>

    <header th:replace="fragments/base.html :: header"></header>
     
      <section>
      <h1 th:text="#{title.info}">INFORMAZIONI</h1>
      <div id="flex-container">
        <div class="col" id="small">
               <p>Salve a tutti questo è il sito web del museo di roma!<br><br>Il museo della capitale italiana è uno dei musei più importanti d'Europa. In questo sito potete trovare tutte le collezioni contenute nel museo. Ogni collezione raccoglie più opere e di ogni opera possiamo leggere dei dettagli sull'artista che l'ha creata. Qui sulla destra potete trovare le indicazioni per venirci a trovare.<br><br>Non dimenticare di prenotarti telefonicamente al numero: 06 5733 2100<br>Ci troviamo in Via Vito Volterra, 62, 00146 Roma RM </p>
        </div>
        <div class="col"> 
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.739294276157!2d12.467468715439576!3d41.855437974811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a922b3edaeb%3A0xd7c1990833e3ea29!2sIngegneria%20Informatica%20-%20Universit%C3%A0%20Roma%20Tre!5e0!3m2!1sit!2sit!4v1623847060561!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
      </div>
    </section>
    
    <footer th:replace="fragments/base.html :: footer"></footer>
    
  </body>

</html>