<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(#{nav.opere}, opere-stile.css)"> </head>
<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
    	<h4 th:text="#{header.opere}">List of opere</h4>
		<ul>
			<li th:each="opera : ${opere}">
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="|${opera.titolo} ${opera.anno}|">titolo anno</a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>