
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(${opera.titolo}, stile-opera.css)">
        
<body>
	<nav th:replace="fragments/base.html :: navbar"></nav>

	<header th:replace="fragments/base.html :: header"></header>
	  <section>
    <section id="title">
		<div th:text="${opera.titolo}">Titolo</div>
		<div>di</div>
		<a th:href="@{'/artista' + '/' + ${artista.id}}"
			th:text="|${artista.nome} ${artista.cognome}|">Nome Cognome</a>
	</section>

	<section id="dati">
		<div id="flex-container">
			<img src="img/compianto-giotto.png" alt="opera" height="400px"
				width="400px">
			<div class="col">
				<h5>DESCRIZIONE:</h5>
				<p id="testo">descrizione</p>
			</div>
		</div>
	 </section>
  </section>
	<footer>Copyright &copy; 2021 Museo di Roma</footer>
</body>
</html>