!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Artista Form', nomecss='stile-artistaForm.css')"> </head>
<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<section>
	<form th:action="@{/admin/artista}" method="POST" th:object="${artista}">
	   <h4>Inserisci i dati di un artista</h4>
		<!--<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		-->
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>		
			<div>
				<span>Cognome:</span>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			<div>
				<span>Data di nascita:</span>
				<span><input type="date" th:field="*{dataDiNascita}" /></span>
				<span th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></span>
			</div>
			
			<div>
				<span>Luogo Nascita:</span>
				<span><input type="text" th:field="*{luogoNascita}" /></span>
				<span th:if="${#fields.hasErrors('luogoNascita')}" th:errors="*{luogoNascita}"></span>
			</div>
			<div>
				<span>Nazionalita:</span>
				<span><input type="text" th:field="*{nazionalita}" /></span>
				<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{Nazionalita}"></span>
			</div>
			<div>
				<span>Data di morte:</span>
				<span><input type="date" th:field="*{dataDiMorte}" /></span>
				<span th:if="${#fields.hasErrors('dataDiMorte')}" th:errors="*{dataDiMorte}"></span>
			</div>
			<div>
				<span>Luogo Morte:</span>
				<span><input type="text" th:field="*{luogoMorte}" /></span>
				<span th:if="${#fields.hasErrors('luogoMorte')}" th:errors="*{luogoMorte}"></span>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>