<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(#{title.formCollezione}, stile-collezioneForm.css)"> </head>
<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<div>
	</div>
	<form th:action="@{/admin/collezione}" method="POST" th:object="${collezione}">
	<h2>Inserisci i dati di una collezione</h2>
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>		
			<div>
				<span>Descrizione:</span>
				<span><input type="text" th:field="*{descrizione}" /></span>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			<div id="tendina" align="left">
               <select name="curatori">
                 <option th:each="curatore : ${curatori}" th:href="@{'/curatore' + '/' + ${curatore.id}}" th:value="|${curatore.nome} ${curatore.cognome}|">Formaggio Stagionato</option>
               </select>
            </div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>