<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(#{nav.art}, stile-deleteAtista.css)"> </head>

<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<section>
     <section id="title">
	   <h2>Elimina un artista</h2>
	 </section>
	 <section id="dati">
		<div class="lista">
			<div class="objLista" th:each="artista : ${artisti}">
				<a th:href="@{'/artista' + '/' + ${artista.id}}">
			        <img class="foto" th:src="@{'/images' + '/' + ${artista.nome} + '.jpg'}">
			    </a>
			     <section class="infoObj">
			     <div th:text="|${artista.nome} ${artista.cognome}|">Paolo Rossi</div>
			     <form th:action="@{'/admin/deleteArtista' + '/' + ${artista.id}}" method="POST" th:object="${artista}">
			       <button type="submit"><img th:src="@{'/images/delete.png'}" height="40px" width="40px"></button>
			     </form>
			     </section>
            </div>
		</div>
	 </section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>