<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(#{nav.opere}, opere-stile.css)">
</head>
<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	<section>
     <section id="title">
		<h2 th:text="#{header.opere}">List of opere</h2>
     </section>
	 <section id="dati">
		<div class="lista">
			<div class="objLista" th:each="opera : ${opere}">
			     <a th:href="@{'/opera' + '/' + ${opera.id}}">
			        <img class="foto" th:src="@{'/images' + '/' + ${opera.titolo} + '.jpg'}">
			     </a>
			     <section class="infoObj">
			     <div th:text="${opera.titolo}">titolo</div>
                 <div th:text="${opera.anno}">anno</div>
                 <form th:action="@{'/admin/deleteOpera' + '/' + ${opera.id}}" method="POST">	
                 	<button type="submit"><img th:src="@{'/images/delete.png'}" height="40px" width="40px"></button>
			     </form>
			     </section>
            </div>
		</div>
	 </section>
	</section>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>