<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(AdminHome, adminhome.css)"> </head>
<body>
  	<nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
    <section>
    	<h4>Homepage ADMIN</h4>
		<div>
			<a th:href="@{/prodotto}">Elenco prodotti</a>
   		</div>
   		<div>
			<a th:href="@{/admin/prodotto}">Inserisci dati prodotto</a>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </section>
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>