<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(AdminHome, adminhome.css)"> </head>
<body>
  	<nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
    <section>
    <div id="title"><h1>Area riservata ADMIN</h1></div>
    
     <div class="flex-container" id="containerPrincipale">
     
     
      <div class="flex-container" id="containerUno">
		<div>
			<a th:href="@{/prodotto}"><button>Aggiungi Opera</button></a>
   		</div>
   		<div>
			<a th:href="@{/admin/prodotto}"><button>Aggiungi Artista</button></a>
   		</div>
   		<div>
			<a th:href="@{/logout}"><button>Aggiungi Collezione</button></a>
   		</div>
      </div>
      
      <div class="flex-container" id="containerDue">
		<div>
			<a th:href="@{/prodotto}"><button>Elimina Opera</button></a>
   		</div>
   		<div>
			<a th:href="@{/admin/prodotto}"><button>Elimina Artista</button></a>
   		</div>
   		<div>
			<a th:href="@{/logout}"><button>Elimina Collezione</button></a>
   		</div>  		  		   		
     </div>
     
     </div>
     
          
        <div id="logout">
			<a th:href="@{/logout}"><button>Logout</button></a>
   		</div>
     

    
    </section>
    
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>