#multiple{
	display:flex;
	justify-content: stretch;
	flex-direction: column;
}

a{
		text-decoration: none;
}

#singole{
	background-color: lightgoldenrodyellow;
	color:brown;
	border:2px solid brown;
	text-align: center;
	padding:20px;
	font-size:30px;
    cursor:pointer;
}

#singole:hover{
	background-color: brown;
	color:  lightgoldenrodyellow;
}