#flex-container{
  Background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  Height:1500px;
  padding:20px;
  Margin-top:0px;
}

.col{
  background-color:white;
  padding:5px;
  Height:370px;
  width:35%;
  border-radius:10px;

}


#testo{
  height:270px;
  overflow: scroll;
  margin:10;
  border-color:black;
  border-width:1px;
  border-style:dotted;
  border-radius:10px;
  padding: 10px;
}
