header{
  font-family: Georgia, serif;
  Color:brown;
  background-image: url(/images/skyline.png);
  Height: 175px;
  Text-align:right;
  Margin-top:0px;
  Top:0;
  Left:0;
  Position:absolute;
}

Header h1, h2{
   Text-align: center;
   Margin-top:0px;
}

nav{
  Background-color: whitesmoke;
  Width:100%;
  margin-top:185px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: whitesmoke;
}

nav li {
  float: center;
}

nav li a {
  display: block;
  color: brown;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link color to gainsboro on hover */
nav li a:hover {
  background-color: gainsboro;
}

Body{
   Background-color:brown;
}

#dati{
  margin-top:0px;
  margin-bottom:10px;
}

#flex-container{
  Background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding:20px;
  Margin-top:10px;
  margin-bottom:25px;
}

div img{
	margin-bottom:20px;
}


footer{
  background-color: brown;
  height:30px;
  Left:0;
  Bottom:0;
  Color: white;
  Text-align: center;
  Padding:10px;
  Position: fixed;
}

header, footer{
        width: 100%;       
    }

