iframe{

}

#flex-container{
  Background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  Margin-top: 20px;
}

.col{
  border: 1mm solid black;
  background-color: white;
  padding: 5px;
  width: 44%;
  border-radius: 10px;
  margin-right:20px;
  margin-left:20px;
  margin-bottom:50px;
}

#small{
  padding-right: 20px;
  width: 40%;
  height:50%;
}



h1{
   text-align:center;
   background-color:white;
   border: 4mm ridge grey;
}

